*{
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    font-family: 'Mukta', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1{
    font-weight: 700;
    font-size: 60px;
    margin: 0;
    color: rgb(97, 91, 91);
    line-height: 78px;
}
.color{
    color: rgb(233, 165, 19);
}


.section12 {
    display: flex;
    justify-content: center;
}

.section1{
    display: flex;
    justify-content: center;
}
.tag{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    margin-top: 5%;
    padding: 5%;
    

}

.article1{
    padding: 10px;
    padding-left: 0;
    color: rgb(155, 151, 151);
    font-weight: 300;
    text-align: justify;
    padding-right: 50px;

}

.order{
    padding: 20px 50px ;
    border-radius: 30px;
    background-image: linear-gradient(#ff5f6d ,#ffc371 );
    text-decoration: none;
    font-weight: 700;
    color: cornsilk;
    

}

.button{
    margin-top: 50px;
}

.section2 {
    margin-top: 85px;
    display: flex;
    justify-content: center;
}

.section2-container {
    width: 1351.25px;
    display: flex;
    height: 600px;
    justify-content: center;
    background: url(./images/shapes/7.png);
    background-repeat: no-repeat;
}

.img {
    margin-top: 64px;
    width: 540px;
    height: 500px;
    justify-content: center;
}

.img img{
    width: 338px;
    height: 536px;
}

.text-section2 {
    width: 540px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 550px;
    padding: 20px;
}

.text-section2 h2{
    color: #707070;
    font-size: 40px;
    font-weight: bold;
}

.about-pera {
    color: #707070;
    font-weight: normal;
    letter-spacing: -0.02em;
    line-height: 165%;
    margin-bottom: 50px;
}

.recipies{
    margin: 0 auto;
    width: 50%;
    text-align: center;
    margin-top: 200px;
    color:  rgb(155, 151, 151);
}


.section3 {
    height: 520px;
    width: 1238px;
    margin: 86px auto;
    display: flex;
}

.menu-item {
    padding: 20px;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    margin-left: 20px;
    border-radius: 40px;
    background: #ecf0f3;
    box-shadow: gray 5px 5px 5px;
}

.menu-item img {
    height: 256px;
    width: 337px;
    border-radius: 40px;
    background: #ecf0f3;
    box-shadow: gray 5px 5px 5px;
}

.menu-item h2 {
    margin-top: 40px;
}

.menu-text {
    color: #676767;
    line-height: 165%;
}

.follower-section {
    display: flex;
    justify-content: center;
}

.section4{
    height: 176px;
    width: 1239px;

    display: flex;
    justify-content: space-between;
    margin: 20%;
    margin-top: 150px;
    padding: 50px 100px ;
    padding-bottom: 70px;
    box-shadow: gray 10px 10px 10px 10px ;
    border-radius: 30px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 30px;
    font-weight: 900;
}

.section4 div h3{
    color: rgb(155, 151, 151) ;
}
.section4 div h1{
    color: black;
}

footer{
    margin: 0 auto;
    margin: 20%;
    margin-top: 300px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    padding: 5%;
    background-color: black;
}
footer div{
    text-align: center;
}
footer div h3{
    color: cornsilk;
    font-weight: 300;
}
footer div h1{
    margin-bottom: 50px;
}

